In [1]:
import pandas as pd
import numpy as np
###read data

In [2]:
df.shape

(50000, 20)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [4]:
df['price'].head()

0    $5,000
1    $8,500
2    $8,990
3    $4,350
4    $1,350
Name: price, dtype: object

In [5]:
###Task 1: clean Price column
###Removing any non-numeric characters.
###Convert the column to a numeric dtype.

0    5000
1    8500
2    8990
3    4350
4    1350
Name: price, dtype: int64

In [6]:
df['odometer'].head()

0    150,000km
1    150,000km
2     70,000km
3     70,000km
4    150,000km
Name: odometer, dtype: object

In [7]:
###Task 2: clean odometer column
###Removing any non-numeric characters.
###Convert the column to a numeric dtype.

0    150000
1    150000
2     70000
3     70000
4    150000
Name: odometer, dtype: int64

In [8]:
# Rename odometer to odometer_km to be more descriptive

In [10]:
###remove any rows with registration years greater than 2016

2000    3354
2005    3015
1999    3000
2004    2737
2003    2727
2006    2708
2001    2703
2002    2533
1998    2453
2007    2304
Name: yearOfRegistration, dtype: int64

In [11]:
###Find brands that make up more than 5% of the total sales data.

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford'], dtype='object')

In [14]:
###Calculate mean price for each brand, store result to a list named brands_mean_price
brands_mean_price = {}

for brands in most_common_brands:
    brand_only = df[df['brand'] == brands]
    mean_price = brand_only['price'].mean()
    brands_mean_price[brands] = int(mean_price)
    
brands_mean_price

{'volkswagen': 6516,
 'bmw': 8334,
 'opel': 5252,
 'mercedes_benz': 30317,
 'audi': 9093,
 'ford': 7263}

In [15]:
#####We can use a similar method to obtain the average mileage for those cars and then see 
brand_mean_mileage = {}

for brands in most_common_brands:
    brand_only = df[df['brand'] == brands]
    mean_mileage = brand_only['odometer_km'].mean()
    brand_mean_mileage[brands] = int(mean_mileage)
    
brand_mean_mileage

{'volkswagen': 128730,
 'bmw': 132434,
 'opel': 129227,
 'mercedes_benz': 130860,
 'audi': 129287,
 'ford': 124046}

In [18]:
#####We'll combine both these series objects into a single dataframe, 
#####with a shared index, so we can easily compare the two.

               mean_mileage  mean_price
brand
volkswagen           128730        6516
bmw                  132434        8334
opel                 129227        5252
mercedes_benz        130860       30317
audi                 129287        9093
ford                 124046        7263

In [20]:
df['notRepairedDamage'].value_counts()

nein    34255
ja       4785
Name: notRepairedDamage, dtype: int64

In [23]:
####mapping nein-> no, ja->yes

C:\Users\DELL\AppData\Local\Temp/ipykernel_14628/903540506.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['notRepairedDamage'] = df['notRepairedDamage'].map(unrepaired_damage)

no     34255
yes     4785
Name: notRepairedDamage, dtype: int64

In [24]:
####No let's investigate wether or not ther is a price discrepancy \
###if cars that have been previously damaged compared to their non_damaged counterparts.

{'no': 8233, 'yes': 2335}