In [5]:
import pandas as pd

In [6]:
data = pd.read_excel('/content/Online Retail.xlsx')
data

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [8]:
data['order_year_month'] = data.InvoiceDate.apply(lambda x: x.strftime("%Y-%m"))
data

       InvoiceNo StockCode  ...         Country  order_year_month
0         536365    85123A  ...  United Kingdom           2010-12
1         536365     71053  ...  United Kingdom           2010-12
2         536365    84406B  ...  United Kingdom           2010-12
3         536365    84029G  ...  United Kingdom           2010-12
4         536365    84029E  ...  United Kingdom           2010-12
...          ...       ...  ...             ...               ...
541904    581587     22613  ...          France           2011-12
541905    581587     22899  ...          France           2011-12
541906    581587     23254  ...          France           2011-12
541907    581587     23255  ...          France           2011-12
541908    581587     22138  ...          France           2011-12

[541909 rows x 9 columns]

In [9]:
data['revenue'] = data.UnitPrice * data.Quantity
data

       InvoiceNo StockCode  ... order_year_month  revenue
0         536365    85123A  ...          2010-12    15.30
1         536365     71053  ...          2010-12    20.34
2         536365    84406B  ...          2010-12    22.00
3         536365    84029G  ...          2010-12    20.34
4         536365    84029E  ...          2010-12    20.34
...          ...       ...  ...              ...      ...
541904    581587     22613  ...          2011-12    10.20
541905    581587     22899  ...          2011-12    12.60
541906    581587     23254  ...          2011-12    16.60
541907    581587     23255  ...          2011-12    16.60
541908    581587     22138  ...          2011-12    14.85

[541909 rows x 10 columns]

In [10]:
repeat_cus = data.groupby(by=['order_year_month', 'CustomerID']).agg({'revenue':'sum', 'InvoiceNo':'nunique'})
repeat_cus = repeat_cus[repeat_cus.InvoiceNo == 1]
repeat_cus

                             revenue  InvoiceNo
order_year_month CustomerID
2010-12          12347.0      711.79          1
                 12348.0      892.80          1
                 12377.0     1001.52          1
                 12383.0      600.72          1
                 12386.0      258.90          1
...                              ...        ...
2011-12          18245.0      894.25          1
                 18272.0      367.88          1
                 18273.0       51.00          1
                 18282.0       77.84          1
                 18283.0      208.00          1

[9211 rows x 2 columns]

In [11]:
repeat_cus_rev = repeat_cus.reset_index().groupby(by='order_year_month').agg({'revenue':'sum'})
repeat_cus_rev.rename({'revenue':'repeat_cus_revenue'},axis=1,inplace=True)
repeat_cus_rev['total_revenue'] = data.groupby(by=['order_year_month']).agg({'revenue':'sum'}).revenue
repeat_cus_rev['percentage'] = repeat_cus_rev.repeat_cus_revenue / repeat_cus_rev.total_revenue
repeat_cus_rev

                  repeat_cus_revenue  total_revenue  percentage
order_year_month
2010-12                   172582.630     748957.020    0.230431
2011-01                   212463.290     560000.260    0.379399
2011-02                   214598.990     498062.650    0.430867
2011-03                   254073.760     683267.080    0.371851
2011-04                   208069.891     493207.121    0.421871
2011-05                   243802.360     723333.510    0.337054
2011-06                   233839.030     691123.120    0.338346
2011-07                   228080.461     681300.111    0.334772
2011-08                   269497.070     682680.510    0.394763
2011-09                   376918.782    1019687.622    0.369641
2011-10                   394929.350    1070704.670    0.368850
2011-11                   387152.660    1461756.250    0.264854
2011-12                   174814.640     433668.010    0.403107

In [13]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [15]:
data['Description'] = data['Description'].str.strip()
data.dropna(axis=0, subset=['InvoiceNo'], inplace=True)
data['InvoiceNo'] = data['InvoiceNo'].astype('str')
data = data[~data['InvoiceNo'].str.contains('C')]

In [16]:
basket = (data[data['Country'] =="France"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))

In [18]:
basket.head()

Description  10 COLOUR SPACEBOY PEN  ...  ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo                            ...
536370                          0.0  ...                              0.0
536852                          0.0  ...                              0.0
536974                          0.0  ...                              0.0
537065                          0.0  ...                              0.0
537463                          0.0  ...                              0.0

[5 rows x 1563 columns]

In [19]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

basket_sets = basket.applymap(encode_units)
basket_sets.drop('POSTAGE', inplace=True, axis=1)

In [20]:
frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames=True)

In [21]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head()

                    antecedents  ... conviction
0  (ALARM CLOCK BAKELIKE GREEN)  ...   3.791383
1   (ALARM CLOCK BAKELIKE PINK)  ...   3.283859
2    (ALARM CLOCK BAKELIKE RED)  ...   5.568878
3  (ALARM CLOCK BAKELIKE GREEN)  ...   4.916181
4    (ALARM CLOCK BAKELIKE RED)  ...   4.153061

[5 rows x 9 columns]

In [22]:
rules[ (rules['lift'] >= 6) &
       (rules['confidence'] >= 0.8) ]

                                          antecedents  ... conviction
2                          (ALARM CLOCK BAKELIKE RED)  ...   5.568878
3                        (ALARM CLOCK BAKELIKE GREEN)  ...   4.916181
17                    (SET/6 RED SPOTTY PAPER PLATES)  ...   4.336735
18                      (SET/6 RED SPOTTY PAPER CUPS)  ...   7.852041
19                    (SET/6 RED SPOTTY PAPER PLATES)  ...  21.556122
20  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...  ...  34.897959
21  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...  ...  34.489796
22  (SET/6 RED SPOTTY PAPER CUPS, SET/6 RED SPOTTY...  ...   4.625850

[8 rows x 9 columns]

In [23]:
basket['ALARM CLOCK BAKELIKE GREEN'].sum()

340.0

In [24]:
basket['ALARM CLOCK BAKELIKE RED'].sum()

316.0

In [26]:
basket2 = (data[data['Country'] =="Germany"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))

basket_sets2 = basket2.applymap(encode_units)
basket_sets2.drop('POSTAGE', inplace=True, axis=1)
frequent_itemsets2 = apriori(basket_sets2, min_support=0.05, use_colnames=True)
rules2 = association_rules(frequent_itemsets2, metric="lift", min_threshold=1)

rules2[ (rules2['lift'] >= 4) &
        (rules2['confidence'] >= 0.5)]

                        antecedents  ... conviction
0   (PLASTERS IN TIN CIRCUS PARADE)  ...   2.076984
6        (PLASTERS IN TIN SPACEBOY)  ...   2.011670
10    (RED RETROSPOT CHARLOTTE BAG)  ...   5.587746

[3 rows x 9 columns]